/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ customcss */
/** customcss **/
/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

[display-block] {display:block}

[article-introduction] {
    padding-top: 2em;
}
[article-introduction] h1 {
    font-size: 1.6em;
    line-height: 1;
}
[article-introduction] p {
    max-width: 28em;
}

[article-about] {
    padding-top: 2em;
    padding-bottom: 2em;
}
[article-about] p {
    font-size: 1.25em;
}

[article-about] {
  --color--NobleBlack:  hsl(226, 15%, 12%);
  --color--NobleWhite:  hsl(226, 27%, 90%);
  --color--NobleSky:    hsl(204, 22%, 55%);

  --background-color: var(--color--NobleBlack);
  --foreground-color: var(--color--NobleWhite);
      --accent-color: var(--color--NobleSky);

    background-color: var(--background-color);
               color: var(--foreground-color);
    padding: 1em 0;
    margin:  1em 0;
}

[article-information] {
    padding-bottom: 4em;
}

[article-information] li {
    padding-bottom: 1em;
}

[article-menu] {
    padding-bottom: 4em;
}
